<% provide(:title, "Edit user settings") %>

<section id="sign-up">
		<div class="row">
			<h2 class="text-center">Edit <%= resource_name.to_s.humanize %></h2>
		</div>
		
		<div class="container">

			<div class="col-sm-6 col-sm-offset-3">
				<div class="col-xs-10 col-xs-offset-1">

					<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, class: "form-signin" }) do |f| %>
						<%= f.error_notification %>
						
						<%= f.input :email, required: true, autofocus: true, label: 'Email', placeholder: "Email address", input_html: {class: "form-control"} %>
						<% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
							<p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
						<% end %>
						
						<%= f.input :password, autocomplete: "off", hint: "leave it blank if you don't want to change it", required: false, label: 'Password', placeholder: "Password", input_html: {class: "form-control"} %>
						<%= f.input :password_confirmation, required: false, placeholder: "Password confirmation", label: 'Password confirmation', input_html: {class: "form-control"} %>
						<%= f.input :current_password, hint: "we need your current password to confirm your changes", required: true, label: 'Current password', placeholder: "Current password", input_html: {class: "form-control"} %>
						
						<%= f.input :username, required: true, label: false, placeholder: "Username", label: 'Username', input_html: {class: "form-control"} %>
						<%= f.input :first_name, required: true, label: false, placeholder: "First name", label: 'First name', input_html: {class: "form-control"} %>
						<%= f.input :last_name, required: true, label: false, placeholder: "Last name", label: 'Last name', input_html: {class: "form-control"} %>
						<%= f.input :sex, :as => :radio_buttons, :collection => [ "Male", "Female" ], input_html: {class: "radio-inline"} %>

						<div class="myform-inline">
						<%= f.input :birthday, required: false, label: 'Birthday', start_year: Date.today.year - 110, end_year: Date.today.year, input_html: {class: ""} %>
						</div>
												
						<%= f.button :submit, "Update", class: "btn btn-lg btn-primary btn-block" %>
					<% end %>
					<hr>	
					<h3>Cancel my account</h3>
					
					<p>Unhappy? <%= link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>
					<hr>
					<%= link_to "Back", :back %>
				
				</div>
			</div><!-- end col-sm-6 -->

		</div> <!-- /container -->
</section>