<nav class="navbar navbar-default navbar-fixed-top">

			<div class="container-fluid">
		  		<!-- Brand and toggle get grouped for better mobile display -->
		  		<div class="navbar-header">
		  			
		  			<div id="mobile-menu-div" class="col-xs-1">
			  			<button id="mobile-menu-btn" type="button" class="navbar-toggle collapsed pull-left" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					        <span class="sr-only">Toggle navigation</span>
					        <span class="icon-bar"></span>
					        <span class="icon-bar"></span>
					        <span class="icon-bar"></span>
						</button>
						<%= link_to "Gleebook", root_path, class: "navbar-brand" %>
					</div>

				</div><!-- end navbar-header -->
	
					
	
				<!-- Collect the nav links, forms, and other content for toggling -->
			    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				    
				    <div class="navbar-inner">
	
					<form class="nav navbar-nav navbar-form navbar-left" role="search">
						<div class="form-group">
							<input type="text" class="form-control" placeholder="Search">
						</div>
					</form>
	
					<ul id="main-menu" class="nav navbar-nav navbar-right">
						
						<% if current_user %>
						<li><p>Welcome back <%= link_to current_user.first_name, current_user %></p></li>
						<li class="<%= 'active' if current_page?(edit_user_registration_path) %>"><%= link_to "Settings", edit_user_registration_path %></li>
						<li class="<%= 'active' if current_page?(destroy_user_session_path) %>"><%= link_to "Log Out", destroy_user_session_path, method: :delete %></li>
						<% else %>
						
						<li class="<%= 'active' if current_page?(new_user_session_path) %>"><%= link_to "Sign in", new_user_session_path %></li>
				        <li class="<%= 'active' if current_page?(new_user_registration_path) %>"><%= link_to "Sign up", new_user_registration_path %></li>
				        <li<%= (controller_name == 'static_pages' && controller.action_name == 'about') ? raw(' class="active"') : ''%>><%= link_to "About", about_path %></li>
						
						<% end %>
						
				        
				        
<!-- 			        <li><p class="navbar-btn"><%= link_to "Add your thought", new_thought_path, id: "modal_path", class: "btn btn-primary", role: "button", "data-toggle" => "modal", "data-target" => ".bs-example-modal-lg" %></p></li> -->
<!-- 					<li class="visible-xs-block"><a href="#" data-toggle="modal" data-target=".bs-example-modal-lg">Login</a></li> -->
						<li><p class="navbar-btn"><%= link_to "Add your thought", new_thought_path, class: "btn btn-primary", role: "button" %></p></li>
					</ul>
					
				    </div>
						
				</div><!-- /.navbar-collapse -->
			</div><!-- /.container-fluid -->
</nav>
