				<div class="panel panel-primary"> 
					<div class="panel-heading">
						<div class="row">
							<div class="col-sm-11">
								<h4><%= link_to panel.title, panel %></h4>
							</div>
							<div class="col-sm-1 text-right view-favorite">
								<% if check_user_ownership?(panel) %>
									<%= link_to '<i class="fa fa-times"></i>'.html_safe, thought_path(panel), method: :delete, data: {confirm: "Are you sure?"}, class: "pull-right" %>
								<% else %>
									<%= render partial: 'thoughts/favorite', locals: {thought: panel} %>
									<%= render partial: 'thoughts/unfavorite', locals: {thought: panel} %>
								<% end %>
							</div>
						</div>
						<div class="row view-like">
							<div class="col-sm-6">
								<p><%= panel.visit_counter %> views</p>
							</div>
							<div class="col-sm-6 text-right">


						<div id="like-section-<%= panel.id %>">
								<%= render partial: 'thoughts/heart_button', locals: {thought: panel} %>
						</div>

							</div>
						</div>
					</div><!-- end panel-heading -->


					<div class="panel-body">
						<div class="row">
							<% if check_user_ownership?(panel) %>
								<p class="text-right"><%= link_to "Edit", edit_thought_path(panel) %></p>
							<% end %>
						</div>
						<p><%= panel.content %></p>
					</div>					
					
					<div class="panel-footer">
						<div class="row text-left">
							<p><%= panel.created_at %></p>
						</div>
						<div class="row text-right">

							<p>Posted by: <%= link_to !(panel.anonymus?) ? panel.user.username : "anonymus", !(panel.anonymus?) ? panel.user : "/users/anonymus" %></a></p>
						</div>
					</div><!-- end panel-footer -->
				</div><!-- end panel-primary -->
				
				


